.img-res {
  max-width: 100%;
}
.box-shadow {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.bor-rad {
  border-radius: 20px;
}
.mar-bottom {
  margin-top: 1.5em;
}
input, textarea {
  width: 100%;
  background-color: #282828;
  border: 2px solid #f0f0f0;
}
b, strong {
  font-weight: 900;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}
.mob_menu {
  z-index: 102;
  position: fixed;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.mob_menu::-webkit-scrollbar {
  display: none;
}
@keyframes scrolling {
  from {
    left: -50%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}
.mob_menu {
  background-color: #282828;
  display: inline-block;
  z-index: 101;
  padding: 0.5em;
}
.mob_menu div {
  display: inline-block;
}
.mob_menu .logo {
  margin-right: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: 900;
  transform: translateY(20%);
}
.mob_menu ul :last-child {
  border-right: none;
}
.mob_menu li {
  position: relative;
  animation-name: scrolling;
  animation-duration: 1s;
  display: inline-block;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  padding-right: 3px;
}
.mob_menu li p {
  display: inline-block;
}
.mob_menu li :hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.mob_menu li a {
  font-size: 1.3em;
  border: none;
}
.mob_menu li a:hover {
  font-size: 1.3em;
  border: none;
}
.max-width {
  max-width: 900px;
}
.cont-padding {
  padding: 4vw;
}
u {
  text-decoration-color: grey;
}
a {
  color: #6aceff;
  padding: 0.1em;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: inherit;
  padding: 0.1em;
  text-decoration: none;
}
.margin-bottom {
  margin-bottom: 1em;
}
.padding_small {
  padding: 1em;
}
.padding_medium {
  padding: 2em;
}
.padding_large {
  padding: 3em;
}
.inline-navigation {
  display: inline-block;
  padding: 0.5em;
  margin: 0 0.2em 0.2em 0;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
.inline-navigation:hover {
  background-color: #1e1e1e;
  font-weight: 900;
}
.round-box {
  height: 100%;
  padding: 3vh;
  border-radius: 50% 50%;
}
.round-box div {
  padding: 3em;
}
html, body {
  color: #f0f0f0;
  font-family: Montserrat, sans-serif;
  max-width: 100%;
  max-height: 100%;
  overflow-y: show;
  overflow-x: hidden;
  text-align: left;
}
hr {
  border: 0;
  padding: 1px;
  margin: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
}
p {
  max-width: 800px;
  font-size: 21px;
  line-height: 27px;
}
html {
  line-height: 27px;
  font-size: 21px;
  line-height: auto;
}
html h1 a, html h2 a, html h3 a, html h4 a, html h5 a, html h6 a {
  font-weight: 500;
}
html h1 {
  font-size: 27px;
  line-height: 35px;
}
html h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 900;
}
html h3 {
  font-size: 25px;
  line-height: 28px;
}
html h4 {
  font-size: 24px;
}
html h5 {
  font-size: 23px;
}
html h6 {
  font-size: 22px;
}
blockquote {
  font-size: 22px;
  padding: 1em;
  max-width: 800px;
  margin-bottom: 2em;
  font-style: italic;
  background-color: rgba(50, 50, 50, 1);
}
blockquote strong {
  font-style: normal;
  line-height: 2em;
  color: grey;
}
.background_light {
  background-color: rgba(50, 50, 50, 1);
}
.background_darker {
  background-color: rgba(45, 45, 45, 1);
}
.no-pad-left-right {
  padding-left: 0;
  padding-right: 0;
}
div {
  color: inherit;
}
.full-device-height-width {
  width: 100vw;
  height: 100vh;
}
.full-device-height {
  height: 100vh;
}
.full-device-width {
  width: 100vw;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.center-both-xy {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-x {
  width: 100%;
  text-align: center;
}
.container-fluid {
  padding: 0;
}
.background_color {
  background-color: #282828;
  color: #f0f0f0;
}
.background_color_2 {
  background-color: #1e1e1e;
  color: #f0f0f0;
}
.text_color {
  color: #f0f0f0;
}
.text_2nd_color {
  color: #f0f0f0;
}
@media only screen and (max-width: 970px) {
  [data-simplebar] {
    height: 12% !important;
  }
  .simplebar-content {
    padding: 0 !important;
  }
  [class*="col-"] {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0em;
    padding-right: 0em;
  }
  .content-feed {
    padding-left: 1em;
    padding-right: 1em;
  }
  .padding_small {
    padding: 0.5em;
  }
  .padding_medium {
    padding: 1em;
  }
  .padding_large {
    padding: 1.5em;
  }
  p {
    font-size: 18px;
    line-height: 21px;
  }
  html {
    font-size: 18px;
    line-height: auto;
  }
  html h1 a, html h2 a, html h3 a, html h4 a, html h5 a, html h6 a {
    font-weight: 500;
  }
  html h1 {
    font-size: 23px;
    line-height: 28px;
  }
  html h2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 900;
  }
  html h3 {
    font-size: 25px;
    line-height: 28px;
  }
  html h4 {
    font-size: 24px;
  }
  html h5 {
    font-size: 23px;
  }
  html h6 {
    font-size: 22px;
  }
}
