#wpadminbar {
  display: none;
}
#right {
  scroll-behavior: smooth;
}
.paste_content_wrap a.collapsed:after {
  content: '+ Read More';
}
.paste_content_wrap a:not(.collapsed):after {
  content: '- Read Less';
}
.galleries .gallery_img {
  height: 68vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.galleries .active img {
  opacity: 0.9 !important;
  background-color: 0;
}
.galleries .carousel-indicators {
  top: 2em;
  max-height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 0;
}
.galleries .carousel-indicators :hover {
  opacity: 0.9 !important;
}
.galleries .carousel-indicators .active {
  background-color: transparent !important;
}
.galleries .carousel-indicators div img {
  height: 1em;
}
.galleries .carousel-control-next, .galleries .carousel-control-prev {
  width: 50%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.1);
}
.galleries .carousel-control-next-icon {
  filter: invert(100%);
}
.galleries .carousel-control-prev-icon {
  filter: invert(100%);
}
.red {
  color: red;
}
.INTRO h1, .INTRO a, .INTRO span {
  font-size: 50px;
  font-weight: 900;
  line-height: normal;
}
.post_change_link {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.post_change_link p {
  font-size: 0.8em;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.post_change_link img {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-filter: grayscale(50%);
  /* Safari */
  filter: grayscale(50%);
}
.post_change_link :hover {
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  color: white;
  background-color: #f36d90;
}
.post_change_link :hover p {
  color: white !important;
}
.post_change_link :hover img {
  transform: scale(1.1);
  -webkit-filter: grayscale(0%);
  /* Safari */
  filter: grayscale(0%);
}
.max-width-large {
  max-width: 1300px;
}
.hover-opacity {
  opacity: 1;
  transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
}
.hover-opacity a {
  background: none !important;
}
.hover-opacity-par:hover .hover-opacity {
  opacity: 0.4;
}
.hover-opacity-par:hover {
  border: none;
}
.img-res {
  max-width: 100%;
}
.box-shadow {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.bor-rad {
  border-radius: 20px;
}
.bor-rad-left {
  border-radius: 20px 0 0 20px;
}
.bor-rad-right {
  border-radius: 0 20px 20px 0;
}
.mar-bottom {
  margin-top: 1em;
}
input, textarea {
  width: 100%;
  background-color: #f5f5f5;
  border: 2px solid #0a0a0a;
}
b, strong {
  font-weight: 900;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}
.button {
  float: right;
  width: fit-content;
  padding: 0.8em;
  font-size: 1.5em;
  background-color: #8079fa;
  border-radius: 1em;
  color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  box-shadow: 1px 1px 1px 1px black;
  background-color: #f36d90;
}
.menu_div {
  background: linear-gradient(0deg, #8079fa, #f36d90) repeat local center;
  z-index: 106;
  min-width: 17%;
}
.menu_div .contact_inf {
  position: absolute;
  bottom: 0;
  left: 1%;
}
.menu_div .contact_inf a, .menu_div .contact_inf p {
  font-size: 12px;
  color: #f0f0f0;
}
.menu_div .mob_menu {
  padding: 1em;
}
.menu_div .mob_menu ul {
  text-align: center;
}
.menu_div .mob_menu ul li {
  width: 100%;
  padding: 0.2em;
}
.menu_div .mob_menu ul li :hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f0f0f0;
  text-decoration: none;
}
.menu_div .mob_menu ul li a {
  color: #f0f0f0;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 300;
}
@media only screen and (max-width: 1500px) {
  .menu_div .mob_menu ul li a {
    font-size: 1em;
  }
}
.post_title_backg {
  background-color: darkgrey;
}
.post_title_backg p, .post_title_backg a, .post_title_backg h3 {
  color: white;
}
.post_title_backg a {
  background-color: transparent;
}
.post_title_backg .wrapper-control :hover {
  background-color: #f36d90;
}
html {
  height: 100%;
  overflow: hidden;
}
body, .main-container {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
}
.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#left {
  flex-shrink: 0;
}
.top-left {
  flex-shink: 0;
}
.top-right {
  flex-shrink: 0;
  display: inline-flex;
}
.bottom {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.no-mar-no-pad {
  margin: 0;
  padding: 0;
}
.max-width {
  max-width: 900px;
}
.cont-padding {
  padding: 4vw;
}
u {
  text-decoration-color: grey;
}
a {
  color: #0a0a0a;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  color: #8079fa;
  text-decoration: none !important;
  cursor: pointer;
}
.a_hovered {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-decoration: none;
}
.margin-bottom {
  margin-bottom: 1em;
}
.padding_small {
  padding: 1em;
}
.padding_medium {
  padding: 2em;
}
.padding_large {
  padding: 3em;
}
.inline-navigation {
  display: inline-block;
  padding: 0.5em;
  margin: 0 0.2em 0.2em 0;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
.inline-navigation:hover {
  background-color: #f0f0f0;
  font-weight: 900;
}
.round-box {
  height: 100%;
  padding: 3vh;
  border-radius: 50% 50%;
}
.round-box div {
  padding: 3em;
}
html, body {
  color: #0a0a0a;
  font-family: Roboto, sans-serif;
  max-width: 100%;
  max-height: 100%;
  overflow-y: show;
  overflow-x: hidden;
  text-align: left;
}
hr {
  border: 0;
  padding: 1px;
  margin: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
}
.wrapper-control {
  min-height: 4em;
}
.control-posts {
  width: 100%;
  background: rgba(230, 230, 230, 1);
}
p {
  font-size: 21px;
  line-height: 27px;
  font-weight: 300;
}
html {
  line-height: 27px;
  font-weight: 300;
  font-size: 21px;
  line-height: auto;
}
html h1 a, html h2 a, html h3 a, html h4 a, html h5 a, html h6 a {
  font-weight: 900;
}
html h1 {
  font-size: 27px;
  line-height: 35px;
  font-weight: 200;
}
html h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 900;
}
html h3 {
  font-size: 25px;
  line-height: 28px;
}
html h4 {
  font-size: 24px;
}
html h5 {
  font-size: 23px;
}
html h6 {
  font-size: 22px;
}
blockquote {
  font-size: 22px;
  padding: 1em;
  max-width: 800px;
  margin-bottom: 2em;
  font-style: italic;
  background-color: rgba(240, 240, 240, 1);
}
blockquote strong {
  font-style: normal;
  line-height: 2em;
  color: grey;
}
.background_light {
  background-color: rgba(240, 240, 240, 1);
}
.background_darker {
  background-color: rgba(235, 235, 235, 1);
}
.no-pad-left-right {
  padding-left: 0;
  padding-right: 0;
}
div {
  color: inherit;
}
.full-device-height-width {
  width: 100vw;
  height: 100vh;
}
.full-device-height {
  height: 100vh;
}
.full-device-width {
  width: 100vw;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.center-both-xy {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-x {
  width: 100%;
  text-align: center;
}
.container-fluid {
  padding: 0;
}
.background_color {
  background-color: #f5f5f5;
  color: #0a0a0a;
}
.background_color_2 {
  background-color: rgba(230, 230, 230, 1);
  color: #0a0a0a;
}
.text_color {
  color: #0a0a0a;
}
.text_2nd_color {
  color: #323232;
}
@media (max-width: 2500px) and (min-width: 1195px) {
  .scroll_content {
    max-height: 70vh;
    overflow-y: scroll;
  }
  .scroll_content ::-webkit-scrollbar {
    width: 10px;
  }
  .scroll_content ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  .scroll_content ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 970px) {
  [data-simplebar] {
    height: 7% !important;
  }
  .simplebar-content {
    padding: 0 !important;
  }
  .logo {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  [class*="col-"] {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0em;
    padding-right: 0em;
  }
  .content-feed {
    padding-left: 1em;
    padding-right: 1em;
  }
  .padding_small {
    padding: 0.5em;
  }
  .padding_medium {
    padding: 1em;
  }
  .padding_large {
    padding: 1.5em;
  }
  p {
    font-size: 18px;
    line-height: 21px;
  }
  html {
    font-size: 18px;
    line-height: auto;
  }
  html h1 a, html h2 a, html h3 a, html h4 a, html h5 a, html h6 a {
    font-weight: 500;
  }
  html h1 {
    font-size: 30px;
    line-height: 28px;
  }
  html h2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 900;
  }
  html h3 {
    font-size: 25px;
    line-height: 28px;
  }
  html h4 {
    font-size: 24px;
  }
  html h5 {
    font-size: 23px;
  }
  html h6 {
    font-size: 22px;
  }
  .wrapper-control {
    padding: 0.2em;
    min-height: 4em;
    margin-bottom: 1em;
  }
  .wrapper-control p {
    font-size: 0.8em;
  }
  .mob_menu li {
    animation-name: scrolling;
  }
}
