$yellow : rgba(255, 235, 0,1);
$magenta : rgba(245, 55, 140,1);
$blue : rgba(25, 155, 235,1);
$background_color : rgb(30,30,30);
$background_color_2 : rgb(230,230,230);
$text_color : rgb(240,240,240);
$text_2nd_color : rgb(240,240,240);
$text_3nd_color : rgb(30,30,30);
$box_color : rgba(50,50,50,0.7);
$box_color_light : rgba(50,50,50,1);
$box_color_full : rgba(60,15,23,1);
$almost_black : rgba(0,0,0,0.5);
$hover_b : rgba(0,0,0, 0.5);
$transparent_white : rgba(255,255,255,0.5)  ;
$grey : grey;
$anchor_col :  #204f77 ;
$font :  Montserrat, sans-serif;

input,textarea{width: 100%;
background-color:  $background_color;
border: 2px solid  $text_color ;  }
b,strong{font-weight: 900;}
// NAVIGATION
// NAVIGATION
.mob_menu{
  z-index: 102;
  position: fixed;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.mob_menu::-webkit-scrollbar {
  display: none;
}

@keyframes scrolling {
 from{
   left:-50%;
   opacity: 0;
 } to{
   left:0%;
   opacity: 1;
 }}

.mob_menu{
  background-color: $background_color;
  display: inline-block !important;
  z-index: 101;
  padding: 0.5em;
  div {
    display: inline-block !important;
  }
  .logo{ margin-right: 1em;
    background-color: $hover_b;
    font-size:1em;
    font-weight:900;
    transform: translateY(20%);
  }
  ul :last-child{
    border-right: none;
  }
  li{
    position: relative;
    animation-name: scrolling;
    animation-duration: 1s;
    display: inline-block !important;
    border-right: 2px solid $grey;
    padding-right: 3px;
    p {  display: inline-block !important;      }
    :hover{background-color: $hover_b; }
    a{ font-size: 1.3em;
       border: none;}
     a:hover{
       font-size: 1.3em;
       border: none;
     }
  }
}

  ////////////////////////

.max-width{
  max-width: 900px;
}

.cont-padding{
  padding: 5vw;
}

u{text-decoration-color: $grey ;  }
a {color: inherit ;
   padding: 0.1em  ;
  text-decoration: none ;
  border-bottom: 0.05em solid lightgrey ;
  transition: all 0.2s; }

a:hover{color: inherit  ;
   padding: 0.1em  ;
   text-decoration: none ;
    border-bottom: 0.05em solid grey }


.margin-bottom{margin-bottom: 1em; }

.padding_small{padding: 1em ;}
.padding_medium{padding: 2em; }
.padding_large{padding: 3em; }

.inline-navigation{display:inline-block ;
   padding:0.5em  ;
   margin: 0 0.2em 0.2em 0;
     background:  $transparent_white  ;
      transition: all 0.3s }
.inline-navigation:hover{background-color:  $text_3nd_color   ;
   font-weight: 900}

.round-box{
  height:100% ;
   padding:3vh;
  border-radius: 50% 50%;
}
.round-box div{padding:3em ;}

html,body{
background-color:  $background_color;
color:  $text_color;
font-family:  $font;
max-width: 100%;
max-height: 100%;
overflow-y: show;
overflow-x: hidden;
text-align: left;
}

hr{
border: 0;
padding:2px;
margin:0;
height: 0.2em;
width: 15em;
background-image:  linear-gradient(to right, $grey , rgba(0,0,0,0));
margin-bottom: 2em;
}

// TEXT !!


p{
max-width: 800px;
font-size: 21px;
line-height: 27px;
}

h1,h2,h3,h4,h5,h6{}
html{
  line-height: 27px;

font-size: 21px;
line-height: auto;
  // h1,h2,h3,h4,h5,h6{font-weight: 900;}
  h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight: 500;}
  h1{font-size: 27px; line-height: 35px;}
  h2{font-size: 26px; line-height: 30px; font-weight: 900;}
  h3{font-size: 25px; line-height: 28px;}
  h4{font-size: 24px }
  h5{font-size: 23px}
  h6{font-size: 22px}
}

blockquote{
font-size: 22px;
padding: 1em;
max-width: 800px;
margin-bottom: 2em;
font-style: italic;
background-color: $box_color_light;
  strong{
    font-style: normal;
    line-height: 2em;
    color: $grey;
  }
}

.no-pad-left-right{padding-left: 0 ; padding-right: 0 }

div{color: inherit; }

.full-device-height-width{
width: 100vw;
height: 100vh; }
.full-device-height{height: 100vh ;  }
.full-device-width{width: 100vw ;  }
.full-height{height: 100% ;}
.full-width{width: 100% }

.center-both-xy{
position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.center-x{
  width: 100%;
  text-align: center;
}


.container-fluid{ padding: 0 !important;  }

.background_color{background-color:  $background_color;    color:  $text_color ; }
.text_color{color:  $text_color  ;}
.text_2nd_color{color:  $text_2nd_color  ;}
